@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Transition utilities */
.transition-base {
  @apply transition-all duration-200 ease-in-out;
}
